.profile-container{
  width: 100%;
  max-width: 1180px;
  padding: 0 30px;
  margin: 32px auto;
}

.profile-container header{
  display: flex;
  align-items: center;
}

.profile-container header span{
  font-size: 20px;
  margin-left: 24px;
}
.profile-container header img{
  height: 64px;
}

.profile-container header a{
  width: 260px;
  margin-left: auto;
  margin-top: 0;
}

.profile-container header button{
  height: 60px;
  width: 60px;
  border-radius: 4px;
  border: 1px solid #04D361;
  background: transparent;
  margin-left: 16px;
  transition: brightness 0.2s;
}

.profile-container header button:hover{
  filter : brightness(90%);
}

.profile-container h1{
  margin-top: 80px;
  margin-bottom: 24px;

}

.profile-container ul{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
  list-style: none;
}

.profile-container ul li{
  background: linear-gradient(134.38deg, rgb(32, 32, 36) 13.32%, rgba(32, 32, 36, 0) 100%);
  padding: 24px;
  border-radius: 8px;
  position: relative;

}

.profile-container ul li p{
  padding-left: 24px;
}
.profile-container ul li a{
  padding-left: 24px;
}
.profile-container ul li button{
  margin-left: 24px;
}


.profile-container .trash{
  position: absolute;
  right: 24px;
  top: 24px;
  border: 0;
  background: none;
}

.profile-container .trash:hover{
  opacity: 0.8;

}
.profile-container .edit{
  position: absolute;
  right: 60px;
  top: 24px;
  border: 0;
  background: none;
}

.profile-container .edit:hover{
  opacity: 0.8;

}

.profile-container ul li strong{
  display: block;
  margin-bottom: 16px;
  color: #04D361;
}

.profile-container ul li p + strong{
  margin-top: 32px;
}

.profile-container ul li p{
  color: #bebed8;
  line-height: 21px;
  font-size: 16px;
}
.profile-container ul li a{
  color: #bebed8;
  line-height: 21px;
  font-size: 16px;
}


.profile-container .goal{
  display: flex;
  justify-content: space-between;
}

.profile-container .buttonGoal{
  height: 30px;
  width: 90px;
  background: none;
  border-radius: 10px;
  border-color: #04D361;
  color: #04D361;
  font-weight: 500;
  text-decoration: none;
  transition: filter 0.2s;
  margin-bottom: 17px;
}
.profile-container .buttonGoal:hover{
  filter : brightness(90%);
}


.my-modal .modal-content {
  background: rgb(32, 32, 36)
}

.profile-container .deleteTech{
  display: flex;
  align-items: center;
}
.profile-container .deleteTech button{
  margin-bottom: 15px;
  border: 0;
  background: none;
}

.profile-container .imagensProjeto img{
  max-width: 200px;
  max-height: 125px;

}
.profile-container .imagensProjeto video{
  width: 200px;
  height: 125px; 

}

.profile-container .imagensProjeto ul{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  list-style: none;
}

.profile-container .imagensProjeto ul li{
  background: none;
  padding: 0px;
  margin: 0px;
  border-radius: 8px;
  position: relative;

}

